[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-migrate = "*"

[packages]
flasgger = "~=0.9.3"
flask-marshmallow = "~=0.10.1"
Flask = "~=3.0.0"
Flask-Cors = "~=3.0.8"
Flask-Limiter = "~=3.2.0"
gunicorn = "~=22.0.0"
sqlalchemy = "~=1.4"
flask-sqlalchemy = "~=3.0"
marshmallow-sqlalchemy = "~=1.1.1"
apispec = "~=3.3.0"
apispec-webframeworks = "~=0.5.2"
mysql-connector-python = "8.0.24"
python-jose = "*"
python-dotenv = "*"
flask-migrate = "*"
requests = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
ordered-set = "*"

[requires]
python_version = "3.13"
